#Ignoring files within this list
#Large data files 
data/raw/*
data/processed/*
indexes/*
runs/*
results/*

# Virtual environments
.venv/
.venv311/
venv/
env/

# Python cache
__pycache__/
*.pyc

# macOS junk files
.DS_Store



# Jupyter scratch
.ipynb_checkpoints/



# VS Code
.vscode/

#comeback back later to add more specific if I need to 